/* GENERALIDADES GENERALIDADES GENERALIDADES GENERALIDADES GENERALIDADES GENERALIDADES GENERALIDADES GENERALIDADES */

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,400;0,800;1,200&family=Outfit:wght@300&display=swap");
body {
  padding: 0px;
  margin: 0px;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

body{
  margin: 0px;
  padding: 0px;;
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */

footer {
  width: 100%;
  text-align: center;
  background-color: rgb(157, 162, 93);
}

footer ul {
  display: flex;
  justify-content: space-evenly;
}

footer ul img {
  width: 55px;
  height: 55px;
  mix-blend-mode: darken;
}

/* MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE */

@media screen and (max-width: 599px) {
  header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #000000;
    padding: 2.3em 0;
    background-image: url("../images/index/fondo.jpg");
    background-size: cover;
  }

  .logo {
    margin-left: 5%;
  }
  .nav {
    margin: 1.5em 0 0 5%;
  }
  header ul li {
    display: inline-block;
    padding: 0 1.4em 0 0;
    font-size: 1.1em;
    font-weight: bolder;
   
  }
  header ul li a {
    color: #7d7c7d;
  }
}

/*DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP */

@media screen and (min-width: 600px) {
  .header {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
    padding: 2.3rem;
    background-image: url("../images/index/fondo.jpg");
    background-size: cover;
  }
  .logo {
    margin-left: 5%;
  }

  nav {
    margin: 1.5em 0 0 5%;
  }
  header ul li {
    display: inline-block;
    padding: 0 1.4em 0 0;
    font-size: 0.9em;
  }
  header ul li a {
    font-size: xx-large;
    font-weight: 900;
    color: #7d7c7d;
  }
  header a {
    font-size: 3rem;
    color: #5c5d33;
    font-weight: bold;
  }
 
  a:hover {
    box-shadow: inset 290px 0 0 0 rgba(84,179,214,0.7);
    transition: 0.5s ease-out;
  }
  a:active {
    text-decoration: underline;
  }
  /* ANIMACION FOOTER ANIMACION FOOTER ANIMACION FOOTER ANIMACION FOOTER ANIMACION FOOTER ANIMACION FOOTER */
  .lineUp {
    animation: 2s anim-lineUp ease-out infinite;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}
