 /* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */
 @import "variables";

 nav {
    background-color: rgb(127, 190, 238);
  .h1 {
    font-size: x-large;
  }
  ul {
    @extend .h1;
   li {
    background-color: $colordominante
  }
}
}
/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */

footer {
     width: 100%;
     text-align: center;
     background-color: $colordominante;
     ul {
         display: flex;
         justify-content: space-evenly;
         img {
             width: 45px;
             height: 45px;
             mix-blend-mode: darken;
         }
     }
 }
 