/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */
nav {
  background-color: rgb(127, 190, 238);
}
nav .h1, nav ul {
  font-size: x-large;
}
nav ul li {
  background-color: rgba(151, 102, 201, 0.958);
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */
footer {
  width: 100%;
  text-align: center;
  background-color: rgba(151, 102, 201, 0.958);
}
footer ul {
  display: flex;
  justify-content: space-evenly;
}
footer ul img {
  width: 45px;
  height: 45px;
  mix-blend-mode: darken;
}