/* GENERALIDADES GENERALIDADES GENERALIDADES GENERALIDADES GENERALIDADES GENERALIDADES GENERALIDADES GENERALIDADES */
@import "variables","_estilo_footer_header","_mapa";

html {
    padding: 0px;
    margin: 0px;
    ul {
      padding-bottom: 15px; 
    }
  }
  /* LINK STYLE LINK STYLE LINK STYLE LINK STYLE LINK STYLE LINK STYLE LINK STYLE LINK STYLE LINK STYLE  */

  .navbar a{
  &:hover {box-shadow: inset 290px 0 0 0 rgba(84, 179, 214, 0.7);transition: 0.5s ease-out;}
  }
  
  footer a:hover img {
    transform: scale(0.7);
    transition: 0.2s ease-in-out;
  }
  
  /* ANIMACION FOOTER ANIMACION FOOTER ANIMACION FOOTER ANIMACION FOOTER ANIMACION FOOTER ANIMACION FOOTER */
    
  .lineUp {
      animation: 2s anim-lineUp ease-out infinite;
    }
  
    @keyframes anim-lineUp {
      0% {
        opacity: 0;
        transform: translateY(80%);
      }
      20% {
        opacity: 0;
      }
      50% {
        opacity: 1;
        transform: translateY(0%);
      }
      100% {
        opacity: 1;
        transform: translateY(0%);
      }
    }

    