body {
  background-color: rgb(163, 164, 157)
}

#principal_media {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(157, 162, 93);
}

/* MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE */

@media screen and (max-width: 599px) {
  #principal_media {
    background-color: rgb(163, 164, 157);
    color: rgb(0, 0, 0);
  }
}

/*DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP */

@media screen and (min-width: 600px) {
  #principal_media {
    font-size: 300%;
    background-image: url('../images/index/playlist.jpg');
    background-size: cover;
    padding-bottom: 4rem;
  }
}